# Ignore data folder
data/

# Ignore all files with .pbs ending
*.pbs

# Ignore output folder
output/

# Ignore DS_Store
.DS_Store

# Ignore folders starting with msiexp
msiout*/

# Ignore files starting with .__
.__*
._*
random_cola.bash
large_scale_bash_all_commands_creation_msi.sh
large_scale_commands_creation_msi.py
